/*!**  Var **!*/

/*:root {*/
/*    --initial-page-size: 680px;*/
/*}*/



/*!** Contenering **!*/
.lead {
    margin-bottom: 20px;
    font-size: xx-large;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    position: page;
    text-align: center;
}


/*.bg{*/
/*    !* The image used *!*/
/*    background-image: url("img/img_bg.jpg");*/
/*    !* Full height *!*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    !*!* Center and scale the image nicely *!*!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.bg{
    min-width: 100%;
    min-height: 680px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    background-image: url('img/img_bg.jpg');
}

.my-button {
    background-color: hsla(196, 77%, 10%, 0.82);
    border: none;
    color: white;
    padding: 25px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.down_arrow{
    transform:rotate(90deg) scale(7);
    display: block;
    text-align: center;
}

/*.navbar {*/
/*    border: 0px;*/
/*    background-color: #222222;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: 5%;*/
/*    width: 110px;*/
/*    z-index: 999;*/
/*}*/

.ul-style{
    list-style-type: none;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    width: fit-content;
}

.nav-sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0px; /* required */
}

.li-default{
    float: inherit;
}

.li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px 15px;
    text-decoration: solid;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.li-a:hover:not(.active) {
    background-color: #130F13;
}


.active {
    background-color: #22A39F;
}
/****** Positioning *****/
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 16px;
}

/**  Sizing **/
.max-width{
    width: 100%;
    margin: 0;
}

.size_40x40{
    min-height: 40px;
    min-width: 40px;
}

.name-size{
    font-size: 63px;
    font-family: 'Open Sans', sans-serif !important
}



/* Customing **/
.lighten {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.white-text{
    color: white;
}

a:link, a:visited {
    color: ghostwhite;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: ghostwhite;
}


.arrow-rai-rotate {
    margin: 2px;
    line-height: 1.5;
    border: 2px solid #0066cc;
    border-radius: .2rem;
    background-color: #0066cc;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    display: inline-block;
}
